%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::xmp' => {
        # URL tag (simple string, no checking, we specify the name explicitly so it stays all uppercase)
        URL => { Name => 'URL' },
    },
    'Image::ExifTool::Exif::Main' => {
        0xffff => {
            Name => 'URL',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
    },
);

1;
